/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.privacy .container, .contact_main .container, .blog_s-2 .container, .blog_s-1 .container, .features_s-2 .container, .features_s-1 .container, .s-accordion .mycontainer, .pricing_s-1 .mycontainer, .about_s-3 .container, .about_s-2 .container, .about_s-1 .container, .copyright .container, footer .container, .s-5 .container, .s-4 .container, .s-3 .container .responsive-images, .s-3 .container, .s-2 .container, .s-1 .container, header .container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .privacy .container, .contact_main .container, .blog_s-2 .container, .blog_s-1 .container, .features_s-2 .container, .features_s-1 .container, .s-accordion .mycontainer, .pricing_s-1 .mycontainer, .about_s-3 .container, .about_s-2 .container, .about_s-1 .container, .copyright .container, footer .container, .s-5 .container, .s-4 .container, .s-3 .container .responsive-images, .s-3 .container, .s-2 .container, .s-1 .container, header .container {
    width: 90%;
  }
}
@media (max-width: 440px) {
  .privacy .container, .contact_main .container, .blog_s-2 .container, .blog_s-1 .container, .features_s-2 .container, .features_s-1 .container, .s-accordion .mycontainer, .pricing_s-1 .mycontainer, .about_s-3 .container, .about_s-2 .container, .about_s-1 .container, .copyright .container, footer .container, .s-5 .container, .s-4 .container, .s-3 .container .responsive-images, .s-3 .container, .s-2 .container, .s-1 .container, header .container {
    width: 90%;
  }
}

.active {
  color: #ffffff;
}

header {
  padding: 33px 0;
  background-color: #1c1e53;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 48px;
}
header .container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
@media (max-width: 980px) {
  header .container nav ul {
    display: none;
  }
}
header .container nav ul li a {
  color: #bbbbcb;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
header .container nav ul li a:hover {
  color: #fcd980;
  transition: color 1s;
}
header .container nav ul li .active {
  color: #ffffff;
}
header .container nav button {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  background-color: #1c1e53;
  padding: 16px 48px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
}
header .container nav button:hover {
  background-color: #fcd980;
  transition: background-color 1s ease-in;
}
@media (max-width: 980px) {
  header .container nav button {
    display: none;
  }
}
header .container nav .menu-toggle {
  display: none;
}
@media (max-width: 980px) {
  header .container nav .menu-toggle {
    display: flex;
  }
}
header .container .mobile-menu {
  display: none;
  position: absolute;
  top: 91px;
  right: 0;
  background-color: #1c1e53;
  padding: 30px 200px;
  width: 100%;
  height: 100vh;
  z-index: 3;
  box-shadow: 1px 127px 103px -99px rgba(252, 217, 128, 0.79) inset;
  -webkit-box-shadow: 1px 127px 103px -99px rgba(252, 217, 128, 0.79) inset;
  -moz-box-shadow: 1px 127px 103px -99px rgba(252, 217, 128, 0.79) inset;
}
@media (max-width: 600px) {
  header .container .mobile-menu {
    padding: 20px;
  }
}
header .container .mobile-menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
header .container .mobile-menu ul .active-mobile {
  color: #fcd980;
}
header .container .mobile-menu ul li {
  margin-bottom: 10px;
}
header .container .mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
header .container .mobile-menu button {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  background-color: #fcd980;
  padding: 16px 48px;
  color: #1b1c2b;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
  margin: 20px auto;
  width: 100%;
  cursor: pointer;
}
header .container .mobile-menu button:hover {
  background-color: #fcd980;
  transition: background-color 1s ease-in;
}

.s-1 {
  padding-top: 110px;
  padding-bottom: 128px;
  background-color: #1c1e53;
}
.s-1 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .s-1 .container {
    flex-direction: column;
    gap: 50px;
  }
}
.s-1 .container .text-div {
  width: 480px;
}
@media (max-width: 1250px) {
  .s-1 .container .text-div {
    width: 90%;
  }
}
@media (max-width: 1100px) {
  .s-1 .container .text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.s-1 .container .text-div h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  margin-bottom: 24px;
}
@media (max-width: 1100px) {
  .s-1 .container .text-div h1 {
    font-size: 32px;
    line-height: 50px;
    text-align: center;
  }
}
@media (max-width: 670px) {
  .s-1 .container .text-div h1 {
    font-size: 25px;
  }
}
.s-1 .container .text-div p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 48px;
  opacity: 0.7;
}
@media (max-width: 670px) {
  .s-1 .container .text-div p {
    text-align: center;
  }
}
.s-1 .container .text-div .btn-a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 408px;
}
@media (max-width: 1100px) {
  .s-1 .container .text-div .btn-a {
    justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .s-1 .container .text-div .btn-a {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}
.s-1 .container .text-div button {
  padding: 16px 56px;
  border-radius: 41px;
  background: #fcd980;
  border: none;
  color: #1b1c2b;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  font-family: "Manrope", sans-serif;
}
.s-1 .container .text-div button:hover {
  background-color: #fde4a6;
  transition: background-color 1s;
}
@media (max-width: 330px) {
  .s-1 .container .text-div button {
    padding: 10px 25px;
    width: 100%;
  }
}
.s-1 .container .text-div a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.s-1 .container .text-div a:hover {
  color: #fcd980;
  transition: color 1s;
}
.s-1 .container .text-div svg :hover {
  fill: #fcd980;
  cursor: pointer;
}
@media (max-width: 670px) {
  .s-1 .container img {
    width: 90%;
  }
}

.s-2 {
  padding-top: 128px;
  padding-bottom: 129px;
  background-color: #f4f6fc;
}
.s-2 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 270px;
}
@media (max-width: 1250px) {
  .s-2 .container {
    gap: 50px;
  }
}
@media (max-width: 1170px) {
  .s-2 .container {
    flex-direction: column;
    align-items: center;
  }
}
.s-2 .container .work-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 330px) {
  .s-2 .container .work-card {
    width: 90%;
  }
}
@media (max-width: 1130px) {
  .s-2 .container .work-card {
    align-items: center;
  }
}
.s-2 .container .work-card h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  text-wrap: nowrap;
}
@media (max-width: 330px) {
  .s-2 .container .work-card h2 {
    font-size: 30px;
  }
}
.s-2 .container .work-card p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  width: 350px;
}
@media (max-width: 1130px) {
  .s-2 .container .work-card p {
    width: 100%;
    text-align: center;
  }
}
.s-2 .container .work-card .link-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.s-2 .container .work-card .link-btn a {
  color: #2405f2;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.s-2 .container .work-card .link-btn a:hover {
  color: #1c1e53;
}
@media (max-width: 350px) {
  .s-2 .container .work-card .link-btn a:hover {
    font-size: 14px;
  }
}
.s-2 .container .card-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 30px;
  width: 530px;
}
@media (max-width: 1170px) {
  .s-2 .container .card-box {
    width: 75%;
  }
}
@media (max-width: 900px) {
  .s-2 .container .card-box {
    width: 100%;
    justify-content: center;
  }
}
.s-2 .container .card-box .small-card {
  width: 250px;
}
@media (max-width: 620px) {
  .s-2 .container .card-box .small-card {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 330px) {
  .s-2 .container .card-box .small-card {
    width: 90%;
  }
}
.s-2 .container .card-box .small-card .img-box {
  display: inline-block;
  position: relative;
  margin-bottom: 16px;
}
.s-2 .container .card-box .small-card .img-box img {
  background-color: #2405f2;
  border-radius: 8px;
}
.s-2 .container .card-box .small-card .img-box .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
.s-2 .container .card-box .small-card h4 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
@media (max-width: 350px) {
  .s-2 .container .card-box .small-card h4 {
    font-size: 20px;
    line-height: 30px;
  }
}
.s-2 .container .card-box .small-card p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}

.s-3 {
  padding: 128px 0;
  background-color: white;
}
@media (max-width: 1000px) {
  .s-3 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.s-3 .container .header-work {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 64px;
}
@media (max-width: 1300px) {
  .s-3 .container .header-work {
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .s-3 .container .header-work {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
.s-3 .container .header-work h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
@media (max-width: 860px) {
  .s-3 .container .header-work h2 {
    font-size: 33px;
    line-height: 35px;
  }
}
@media (max-width: 435px) {
  .s-3 .container .header-work h2 {
    font-size: 20px;
  }
}
.s-3 .container .header-work a {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-right: 16px;
}
.s-3 .container .responsive-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}
@media (max-width: 1310px) {
  .s-3 .container .responsive-images {
    flex-direction: column;
    align-items: center;
  }
}
.s-3 .container .responsive-images .img-box {
  background: url(../images/project-human.svg), lightgray 50%/cover no-repeat;
  width: 843px;
  height: 600px;
}
@media (max-width: 850px) {
  .s-3 .container .responsive-images .img-box {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.s-3 .container .responsive-images .overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(329deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  width: 50%;
  height: 100%;
}
.s-3 .container .responsive-images .overlay .text {
  margin-bottom: 76px;
  width: 313px;
}
@media (max-width: 890px) {
  .s-3 .container .responsive-images .overlay .text {
    margin-bottom: 45px;
    width: 90%;
  }
}
.s-3 .container .responsive-images .overlay .text h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 16px;
}
@media (max-width: 890px) {
  .s-3 .container .responsive-images .overlay .text h3 {
    font-size: 15px;
    line-height: 15px;
  }
}
.s-3 .container .responsive-images .overlay .text p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}
@media (max-width: 890px) {
  .s-3 .container .responsive-images .overlay .text p {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 10px;
  }
}
.s-3 .container .responsive-images .overlay .text a {
  color: #fcd980;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
@media (max-width: 890px) {
  .s-3 .container .responsive-images .overlay .text a {
    font-size: 10px;
  }
}
.s-3 .container .responsive-images .right-img-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
@media (max-width: 1310px) {
  .s-3 .container .responsive-images .right-img-box {
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 850px) {
  .s-3 .container .responsive-images .right-img-box {
    flex-direction: column;
  }
}
.s-3 .container .responsive-images .right-img-box .small-img-box {
  background: url(../images/portfolio-link.svg), lightgray 8.572px -4.045px/112.875% 102.113% no-repeat;
  width: 405px;
  height: 284px;
}
@media (max-width: 500px) {
  .s-3 .container .responsive-images .right-img-box .small-img-box {
    width: 100%;
    height: 284px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.s-3 .container .responsive-images .right-img-box .small-img-box .small-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(329deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  width: 100%;
  height: 100%;
}
.s-3 .container .responsive-images .right-img-box .small-img-box .small-overlay .small-text {
  margin-bottom: 45px;
  width: 250px;
}
@media (max-width: 500px) {
  .s-3 .container .responsive-images .right-img-box .small-img-box .small-overlay .small-text {
    width: 90%;
  }
}
.s-3 .container .responsive-images .right-img-box .small-img-box .small-overlay .small-text h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 10px;
}
.s-3 .container .responsive-images .right-img-box .small-img-box .small-overlay .small-text a {
  color: #fcd980;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
@media (max-width: 500px) {
  .s-3 .container .responsive-images .right-img-box .prayer {
    width: 100%;
  }
}

.s-4 {
  background-color: #f4f6fc;
  padding: 128px 0;
}
.s-4 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s-4 .container h6 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.s-4 .container h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 47px;
}
@media (max-width: 500px) {
  .s-4 .container h2 {
    line-height: 35px;
    text-align: center;
  }
}
.s-4 .container .mycards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}
@media (max-width: 1300px) {
  .s-4 .container .mycards {
    justify-content: space-around;
  }
}
.s-4 .container .mycards div {
  background-color: #fff;
  border-radius: 10px;
  padding-top: 58px;
  padding-right: 35px;
  padding-bottom: 48px;
  padding-left: 48px;
  width: 405px;
}
@media (max-width: 930px) {
  .s-4 .container .mycards div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 440px) {
  .s-4 .container .mycards div {
    padding: 10px;
  }
}
.s-4 .container .mycards div svg {
  margin-bottom: 22px;
}
.s-4 .container .mycards div h3 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 12px;
}
.s-4 .container .mycards div p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.s-5 {
  background-color: #f4f6fc;
  padding: 100px 0;
}
.s-5 .container .mission,
.s-5 .container .vision {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 990px) {
  .s-5 .container .mission,
  .s-5 .container .vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}
.s-5 .container .mission h5,
.s-5 .container .vision h5 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.s-5 .container .mission h2,
.s-5 .container .vision h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
@media (max-width: 990px) {
  .s-5 .container .mission h2,
  .s-5 .container .vision h2 {
    font-size: 25px;
    line-height: 25px;
  }
}
.s-5 .container .mission p,
.s-5 .container .vision p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
.s-5 .container .mission .text,
.s-5 .container .vision .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  gap: 16px;
}
@media (max-width: 990px) {
  .s-5 .container .mission .text,
  .s-5 .container .vision .text {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .s-5 .container .mission .text,
  .s-5 .container .vision .text {
    align-items: center;
    text-align: center;
  }
}
.s-5 .container .mission img,
.s-5 .container .vision img {
  border-radius: 15px;
}
@media (max-width: 990px) {
  .s-5 .container .mission img,
  .s-5 .container .vision img {
    width: 80%;
  }
}
.s-5 .container .vision img {
  order: -1;
}
@media (max-width: 990px) {
  .s-5 .container .vision img {
    order: 1;
  }
}
.s-5 .container .mission {
  margin-bottom: 60px;
}

footer {
  padding-top: 104px;
  background-color: #1c1e53;
}
footer .container .logo-talk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 750px) {
  footer .container .logo-talk {
    justify-content: center;
  }
}
footer .container .logo-talk h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 60;
  line-height: 64px;
  margin-bottom: 14px;
}
footer .container .logo-talk p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.8;
}
footer .container .logo-talk .discuss {
  width: 30%;
}
@media (max-width: 750px) {
  footer .container .logo-talk .discuss {
    display: none;
  }
}
footer .container .logo-talk .discuss svg {
  margin-bottom: 24px;
}
footer .container .logo-talk .talk {
  width: 350px;
  margin-right: 15%;
  margin-bottom: 20px;
}
@media (max-width: 1080px) {
  footer .container .logo-talk .talk {
    margin-right: 0;
  }
}
footer .container .logo-talk .talk .icons {
  margin-top: 28px;
  width: 145px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-contact {
  background-color: #fcd980;
  padding: 18px 16px;
  width: 517px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 600px) {
  footer .container .footer-contact {
    width: 100%;
  }
}
@media (max-width: 425px) {
  footer .container .footer-contact {
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .container .footer-contact h5 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 1px;
}
footer .container .footer-contact a {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.copyright {
  padding: 32px 0;
}
.copyright .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.copyright .container nav {
  width: 500px;
}
@media (max-width: 1080px) {
  .copyright .container nav {
    display: none;
  }
}
.copyright .container nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.copyright .container nav a:hover {
  color: #585858;
  transition: color 1s;
  text-decoration: underline;
}
.copyright .container a {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.copyright .container a:hover {
  color: #585858;
  transition: color 1s;
}

.about_s-1 {
  padding-top: 128px;
}
.about_s-1 .container p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
.about_s-1 .container h5 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.about_s-1 .container .text-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 128px;
  gap: 30px;
}
@media (max-width: 980px) {
  .about_s-1 .container .text-img {
    flex-direction: column;
  }
}
.about_s-1 .container .text-img .solve_problems {
  width: 40%;
}
@media (max-width: 980px) {
  .about_s-1 .container .text-img .solve_problems {
    width: 100%;
  }
}
.about_s-1 .container .text-img .solve_problems h5 {
  margin-bottom: 8px;
}
.about_s-1 .container .text-img .solve_problems h1 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  margin-bottom: 36px;
}
@media (max-width: 1100px) {
  .about_s-1 .container .text-img .solve_problems h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 980px) {
  .about_s-1 .container .text-img img {
    width: 100%;
  }
}
.about_s-1 .container .who h3 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 16px;
}
@media (max-width: 1300px) {
  .about_s-1 .container .who h3 {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .about_s-1 .container .who h3 {
    font-size: 25px;
    line-height: 25px;
  }
}
.about_s-1 .container .who .goal-improvement {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  gap: 30px;
  padding: 80px 0;
  background-color: #f4f5f5;
}
@media (max-width: 980px) {
  .about_s-1 .container .who .goal-improvement {
    flex-direction: column;
    align-items: center;
  }
}
.about_s-1 .container .who .goal-improvement .goal-card {
  width: 35%;
}
@media (max-width: 980px) {
  .about_s-1 .container .who .goal-improvement .goal-card {
    width: 90%;
  }
}
.about_s-1 .container .who .goal-improvement .goal-card h5 {
  margin-bottom: 4px;
}
.about_s-1 .container .who .goal-improvement .improvement-card {
  width: 35%;
}
@media (max-width: 980px) {
  .about_s-1 .container .who .goal-improvement .improvement-card {
    width: 90%;
  }
}
.about_s-1 .container .who img {
  width: 100%;
}
.about_s-1 .container .process {
  padding-top: 128px;
  padding-bottom: 152px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.about_s-1 .container .process h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 8px;
}
@media (max-width: 625px) {
  .about_s-1 .container .process h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 400px) {
  .about_s-1 .container .process h2 {
    font-size: 20px;
  }
}
.about_s-1 .container .process .process-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.about_s-1 .container .process .process-cards div {
  width: 270px;
}
@media (max-width: 625px) {
  .about_s-1 .container .process .process-cards div {
    width: 100%;
  }
}
.about_s-1 .container .process .process-cards div h4 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.about_s-1 .container .process .process-cards div .svg-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
  gap: 8px;
}
@media (max-width: 625px) {
  .about_s-1 .container .process .process-cards div .svg-flex:last-child {
    width: 80%;
  }
}

.about_s-2 {
  padding-bottom: 128px;
}
.about_s-2 .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.about_s-2 .container h1 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 55px;
  text-align: center;
}
@media (max-width: 625px) {
  .about_s-2 .container h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
.about_s-2 .container .benefit-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-bottom: 48px;
}
@media (max-width: 1210px) {
  .about_s-2 .container .benefit-cards {
    justify-content: space-around;
  }
}
.about_s-2 .container .benefit-cards div {
  background-color: #f4f6fc;
  padding: 40px 10px 30px 30px;
  width: 350px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 800px) {
  .about_s-2 .container .benefit-cards div {
    width: 100%;
  }
}
.about_s-2 .container .benefit-cards div svg {
  margin-bottom: 26px;
}
.about_s-2 .container .benefit-cards div h4 {
  margin-bottom: 12px;
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.about_s-2 .container .benefit-cards div p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
.about_s-2 .container .icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}
@media (max-width: 1080px) {
  .about_s-2 .container .icons {
    justify-content: center;
  }
}
.about_s-2 .container .icons .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.about_s-2 .container .icons .text .number {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
.about_s-2 .container .icons .text .users {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
.about_s-2 .container .icons svg {
  opacity: 0.7;
}

.about_s-3 {
  background-color: #f4f6fc;
  padding: 128px 0;
}
.about_s-3 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.about_s-3 .container h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
@media (max-width: 650px) {
  .about_s-3 .container h2 {
    font-size: 30px;
    line-height: 35px;
  }
}
.about_s-3 .container .team-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 1320px) {
  .about_s-3 .container .team-box {
    width: 80%;
    gap: 80px;
    justify-content: space-around;
  }
}
@media (max-width: 930px) {
  .about_s-3 .container .team-box {
    width: 100%;
  }
}
.about_s-3 .container .team-box .member-card {
  background-color: #fff;
  width: 290px;
  text-align: center;
  padding: 48px 50px 32px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_s-3 .container .team-box .member-card:hover {
  cursor: pointer;
  background-color: #fcd980;
  width: 320px;
  transition: width 1s ease-in-out;
}
@media (max-width: 800px) {
  .about_s-3 .container .team-box .member-card {
    justify-content: center;
    width: 90%;
  }
}
.about_s-3 .container .team-box .member-card h4 {
  color: #1d2130;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 30px;
  margin-bottom: 2px;
}
@media (max-width: 400px) {
  .about_s-3 .container .team-box .member-card h4 {
    font-size: 20px;
  }
}
.about_s-3 .container .team-box .member-card span {
  color: #1d2130;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}

.pricing_s-1 {
  padding: 128px 0;
}
.pricing_s-1 .mycontainer .title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}
.pricing_s-1 .mycontainer .title-box h1 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 16px;
  text-align: center;
}
@media (max-width: 650px) {
  .pricing_s-1 .mycontainer .title-box h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
.pricing_s-1 .mycontainer .title-box p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  width: 560px;
}
@media (max-width: 650px) {
  .pricing_s-1 .mycontainer .title-box p {
    width: 100%;
    text-align: center;
  }
}
.pricing_s-1 .mycontainer .price-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1310px) {
  .pricing_s-1 .mycontainer .price-cards {
    justify-content: space-around;
  }
}
.pricing_s-1 .mycontainer .price-cards .card-first,
.pricing_s-1 .mycontainer .price-cards .card-second,
.pricing_s-1 .mycontainer .price-cards .card-third {
  background-color: #f4f6fc;
  border-radius: 12px;
  width: 400px;
  padding: 64px 60px 62px 48px;
}
.pricing_s-1 .mycontainer .price-cards .card-first .price-number,
.pricing_s-1 .mycontainer .price-cards .card-second .price-number,
.pricing_s-1 .mycontainer .price-cards .card-third .price-number {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
.pricing_s-1 .mycontainer .price-cards .card-first .price-number :first-child,
.pricing_s-1 .mycontainer .price-cards .card-second .price-number :first-child,
.pricing_s-1 .mycontainer .price-cards .card-third .price-number :first-child {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 8px;
}
@media (max-width: 490px) {
  .pricing_s-1 .mycontainer .price-cards .card-first .price-number :first-child,
  .pricing_s-1 .mycontainer .price-cards .card-second .price-number :first-child,
  .pricing_s-1 .mycontainer .price-cards .card-third .price-number :first-child {
    font-size: 25px;
    line-height: 30px;
  }
}
.pricing_s-1 .mycontainer .price-cards .card-first .price-number :last-child,
.pricing_s-1 .mycontainer .price-cards .card-second .price-number :last-child,
.pricing_s-1 .mycontainer .price-cards .card-third .price-number :last-child {
  color: #2405f2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.pricing_s-1 .mycontainer .price-cards .card-first h2,
.pricing_s-1 .mycontainer .price-cards .card-second h2,
.pricing_s-1 .mycontainer .price-cards .card-third h2 {
  margin-bottom: 8px;
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
@media (max-width: 440px) {
  .pricing_s-1 .mycontainer .price-cards .card-first h2,
  .pricing_s-1 .mycontainer .price-cards .card-second h2,
  .pricing_s-1 .mycontainer .price-cards .card-third h2 {
    text-align: center;
  }
}
.pricing_s-1 .mycontainer .price-cards .card-first p,
.pricing_s-1 .mycontainer .price-cards .card-second p,
.pricing_s-1 .mycontainer .price-cards .card-third p {
  width: 280px;
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
@media (max-width: 650px) {
  .pricing_s-1 .mycontainer .price-cards .card-first p,
  .pricing_s-1 .mycontainer .price-cards .card-second p,
  .pricing_s-1 .mycontainer .price-cards .card-third p {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .pricing_s-1 .mycontainer .price-cards .card-first p,
  .pricing_s-1 .mycontainer .price-cards .card-second p,
  .pricing_s-1 .mycontainer .price-cards .card-third p {
    text-align: center;
  }
}
.pricing_s-1 .mycontainer .price-cards .card-first .benefit,
.pricing_s-1 .mycontainer .price-cards .card-second .benefit,
.pricing_s-1 .mycontainer .price-cards .card-third .benefit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.pricing_s-1 .mycontainer .price-cards .card-first .benefit div,
.pricing_s-1 .mycontainer .price-cards .card-second .benefit div,
.pricing_s-1 .mycontainer .price-cards .card-third .benefit div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
@media (max-width: 490px) {
  .pricing_s-1 .mycontainer .price-cards .card-first .benefit div,
  .pricing_s-1 .mycontainer .price-cards .card-second .benefit div,
  .pricing_s-1 .mycontainer .price-cards .card-third .benefit div {
    gap: 8px;
  }
}
@media (max-width: 440px) {
  .pricing_s-1 .mycontainer .price-cards .card-first .benefit p,
  .pricing_s-1 .mycontainer .price-cards .card-second .benefit p,
  .pricing_s-1 .mycontainer .price-cards .card-third .benefit p {
    font-size: 12px;
  }
}
.pricing_s-1 .mycontainer .price-cards .card-first button,
.pricing_s-1 .mycontainer .price-cards .card-second button,
.pricing_s-1 .mycontainer .price-cards .card-third button {
  color: #f4f6fc;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 79px;
  border: none;
  border-radius: 41px;
  padding: 15px 51px;
  background-color: #282938;
  text-align: center;
  margin-left: 28px;
  cursor: pointer;
}
.pricing_s-1 .mycontainer .price-cards .card-first button:hover,
.pricing_s-1 .mycontainer .price-cards .card-second button:hover,
.pricing_s-1 .mycontainer .price-cards .card-third button:hover {
  background-color: #535460;
  transition: background-color 5s;
}
@media (max-width: 440px) {
  .pricing_s-1 .mycontainer .price-cards .card-first button,
  .pricing_s-1 .mycontainer .price-cards .card-second button,
  .pricing_s-1 .mycontainer .price-cards .card-third button {
    padding: 15px 20px;
    font-size: 12px;
    width: 100%;
    margin-left: 0px;
  }
}
@media (max-width: 930px) {
  .pricing_s-1 .mycontainer .price-cards .card-first,
  .pricing_s-1 .mycontainer .price-cards .card-second,
  .pricing_s-1 .mycontainer .price-cards .card-third {
    width: 65%;
    padding-left: 80px;
  }
}
@media (max-width: 700px) {
  .pricing_s-1 .mycontainer .price-cards .card-first,
  .pricing_s-1 .mycontainer .price-cards .card-second,
  .pricing_s-1 .mycontainer .price-cards .card-third {
    width: 400px;
    padding-left: 48px;
  }
}
@media (max-width: 490px) {
  .pricing_s-1 .mycontainer .price-cards .card-first,
  .pricing_s-1 .mycontainer .price-cards .card-second,
  .pricing_s-1 .mycontainer .price-cards .card-third {
    width: 100%;
    padding: 30px;
  }
}
.pricing_s-1 .mycontainer .price-cards .card-first > p {
  margin-bottom: 78px;
}
.pricing_s-1 .mycontainer .price-cards .card-second {
  background-color: #1c1e53;
}
.pricing_s-1 .mycontainer .price-cards .card-second span,
.pricing_s-1 .mycontainer .price-cards .card-second h2,
.pricing_s-1 .mycontainer .price-cards .card-second p {
  color: white;
}
.pricing_s-1 .mycontainer .price-cards .card-second .price-number :first-child {
  color: white;
}
.pricing_s-1 .mycontainer .price-cards .card-second .price-number :last-child {
  color: #fcd980;
}
.pricing_s-1 .mycontainer .price-cards .card-second button {
  background-color: #fcd980;
  color: #ffffff;
}
.pricing_s-1 .mycontainer .price-cards .card-second button:hover {
  background-color: #fde4a6;
}
.pricing_s-1 .mycontainer .card-second > p {
  margin-bottom: 50px;
}
.pricing_s-1 .mycontainer .card-second > button {
  background-color: #fcd980;
  color: #282938;
}
.pricing_s-1 .mycontainer .card-third > p {
  margin-bottom: 44px;
}
.pricing_s-1 .mycontainer .card-third > button {
  margin-top: 65px;
}

.s-accordion {
  padding: 128px 0;
}
.s-accordion .mycontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 1200px) {
  .s-accordion .mycontainer {
    flex-direction: column;
    align-items: center;
  }
}
.s-accordion .mycontainer .title {
  width: 425px;
}
@media (max-width: 1200px) {
  .s-accordion .mycontainer .title {
    width: 100%;
    text-align: center;
  }
}
.s-accordion .mycontainer .title h1 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 16px;
}
@media (max-width: 700px) {
  .s-accordion .mycontainer .title h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
.s-accordion .mycontainer .title a {
  text-decoration: none;
  color: #2405f2;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.s-accordion .mycontainer .title a:hover {
  color: #1c1e53;
  transition: color 1s;
}
.s-accordion .mycontainer .accordion {
  width: 800px;
}
.s-accordion .mycontainer .accordion button {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
}
@media (max-width: 500px) {
  .s-accordion .mycontainer .accordion button {
    font-size: 20px;
  }
}
.s-accordion .mycontainer .accordion .accordion-body {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
@media (max-width: 900px) {
  .s-accordion .mycontainer .accordion {
    width: 100%;
  }
}

.container a {
  text-decoration: none;
}

.features_s-1 {
  padding: 128px 0;
  background-color: #1c1e53;
}
.features_s-1 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1300px) {
  .features_s-1 .container {
    justify-content: center;
    align-items: center;
  }
}
.features_s-1 .container .text {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}
@media (max-width: 1060px) {
  .features_s-1 .container .text {
    width: 75%;
    align-items: center;
    text-align: center;
  }
}
.features_s-1 .container .text h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}
@media (max-width: 1030px) {
  .features_s-1 .container .text h1 {
    width: 320px;
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 370px) {
  .features_s-1 .container .text h1 {
    width: 100%;
    font-size: 25px;
  }
}
.features_s-1 .container .text p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
  width: 550px;
}
@media (max-width: 1300px) {
  .features_s-1 .container .text p {
    width: 100%;
  }
}
.features_s-1 .container .text button {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  padding: 16px 48px;
  border-radius: 41px;
  background: #fcd980;
  border: none;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}
.features_s-1 .container .text button:hover {
  background-color: #fde4a6;
  transition: background-color 1s;
}
@media (max-width: 330px) {
  .features_s-1 .container .text button {
    padding: 10px 25px;
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .features_s-1 .container img {
    width: 50%;
  }
}
@media (max-width: 1060px) {
  .features_s-1 .container img {
    width: 100%;
  }
}

.features_s-2 {
  padding-top: 128px;
}
.features_s-2 .container .text-img {
  padding: 128px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 128px;
}
@media (max-width: 900px) {
  .features_s-2 .container .text-img {
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 20px;
  }
}
.features_s-2 .container .text-img .text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 542.5px;
  gap: 16px;
}
@media (max-width: 900px) {
  .features_s-2 .container .text-img .text-div {
    width: 100%;
  }
}
.features_s-2 .container .text-img .text-div h5 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
@media (max-width: 450px) {
  .features_s-2 .container .text-img .text-div h5 {
    font-size: 12px;
  }
}
.features_s-2 .container .text-img .text-div h2 {
  color: #232536;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
}
@media (max-width: 1200px) {
  .features_s-2 .container .text-img .text-div h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 900px) {
  .features_s-2 .container .text-img .text-div h2 {
    font-size: 36px;
    line-height: 50px;
  }
}
@media (max-width: 450px) {
  .features_s-2 .container .text-img .text-div h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
.features_s-2 .container .text-img .text-div p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
@media (max-width: 1200px) {
  .features_s-2 .container .text-img img {
    width: 400px;
  }
}
@media (max-width: 900px) {
  .features_s-2 .container .text-img img {
    width: 100%;
  }
}
.features_s-2 .container .second,
.features_s-2 .container .fourth {
  order: -1;
}
@media (max-width: 900px) {
  .features_s-2 .container .second,
  .features_s-2 .container .fourth {
    order: 1;
  }
}
.features_s-2 .container .grey-bg {
  background: var(--Grey, #f4f6fc);
}
.features_s-2 .container .orange-bg {
  background: rgba(252, 217, 128, 0.1);
  background-size: cover;
}

.blog_s-1 {
  padding: 128px 0;
}
.blog_s-1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.blog_s-1 .container h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  width: 900px;
  margin-bottom: 16px;
}
@media (max-width: 1000px) {
  .blog_s-1 .container h2 {
    width: 100%;
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 600px) {
  .blog_s-1 .container h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
.blog_s-1 .container span {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 32px;
}
.blog_s-1 .container img {
  width: 100%;
  margin-bottom: 48px;
}
.blog_s-1 .container p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 831px;
  opacity: 0.7;
  margin-bottom: 16px;
}
@media (max-width: 1000px) {
  .blog_s-1 .container p {
    width: 100%;
    line-height: 25px;
  }
}
.blog_s-1 .container a {
  color: #2405f2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}

.blog_s-2 {
  padding-bottom: 128px;
}
.blog_s-2 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.blog_s-2 .container h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
.blog_s-2 .container .card-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px 32px;
}
.blog_s-2 .container .card-box .card {
  width: 405px;
}
@media (max-width: 940px) {
  .blog_s-2 .container .card-box .card {
    width: 600px;
  }
}
@media (max-width: 660px) {
  .blog_s-2 .container .card-box .card {
    width: 100%;
  }
}
.blog_s-2 .container .card-box .card img {
  width: 100%;
}
.blog_s-2 .container .card-box .card span {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
  margin-top: 32px;
  margin-bottom: 16px;
}
.blog_s-2 .container .card-box .card h6 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 16px;
}
.blog_s-2 .container .card-box .card p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  margin-bottom: 24px;
}
.blog_s-2 .container .card-box .card .link a {
  color: #1c1e53;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-right: 12px;
}
.blog_s-2 .container .card-box .card .link a:hover {
  color: #585858;
}

.contact_main {
  padding: 128px 0;
}
.contact_main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_main .container h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 16px;
  text-align: center;
}
@media (max-width: 400px) {
  .contact_main .container h2 {
    font-size: 30px;
  }
}
.contact_main .container p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 46px;
  width: 562px;
  text-align: center;
}
@media (max-width: 660px) {
  .contact_main .container p {
    width: 100%;
  }
}
.contact_main .container .myform {
  padding: 55px 76px 69px 74px;
  border-radius: 12px;
  background: var(--Grey, #f4f6fc);
  width: 1061px;
}
@media (max-width: 1120px) {
  .contact_main .container .myform {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .contact_main .container .myform {
    padding: 55px 30px 69px 28px;
  }
}
.contact_main .container .myform .small-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.contact_main .container .myform .small-input .label-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  width: 438px;
}
@media (max-width: 1120px) {
  .contact_main .container .myform .small-input .label-input {
    width: 300px;
  }
}
@media (max-width: 870px) {
  .contact_main .container .myform .small-input .label-input {
    width: 100%;
  }
}
.contact_main .container .myform .small-input .label-input label {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.contact_main .container .myform .small-input .label-input input {
  width: 100%;
  padding: 18px 32px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.contact_main .container .myform .small-input .label-input input::-moz-placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.contact_main .container .myform .small-input .label-input input::placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.contact_main .container .myform .text_area-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 6px;
  margin-bottom: 32px;
}
.contact_main .container .myform .text_area-box label {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.contact_main .container .myform .text_area-box textarea {
  width: 100%;
  height: 138px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  padding: 18px 32px;
  resize: none;
}
.contact_main .container .myform .text_area-box textarea::-moz-placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
}
.contact_main .container .myform .text_area-box textarea::placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
}
.contact_main .container .myform .btn {
  border-radius: 41px;
  background: var(--Dark-blue, #282938);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 51px;
  gap: 10px;
  border: none;
  flex-shrink: 0;
  color: var(--Grey, #f4f6fc);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  font-family: Manrope;
  cursor: pointer;
}
.contact_main .container .myform .btn:hover {
  background-color: #535460;
  transition: background-color 2s;
}

.privacy {
  padding: 128px 0;
}
.privacy .container {
  width: 840px;
}
@media (max-width: 950px) {
  .privacy .container {
    width: 90%;
  }
}
.privacy .container h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 16px;
}
@media (max-width: 650px) {
  .privacy .container h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
.privacy .container h3 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 32px;
  margin-top: 40px;
}
@media (max-width: 650px) {
  .privacy .container h3 {
    font-size: 20px;
    line-height: 25px;
  }
}
.privacy .container p,
.privacy .container li {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  list-style: disc;
  margin-bottom: 12px;
  opacity: 0.7;
}
.privacy .container span {
  color: #2405F2;
}
.privacy .container .title {
  text-align: center;
  margin-bottom: 24pxpx;
}
.privacy .container ul {
  margin-left: 20px;
}/*# sourceMappingURL=global.css.map */